---
layout: default

comments: true
---
<article id="post-page">

	{% if page.image.feature %}
	<img src="{{ site.github.url }}/img/{{ page.image.feature }}">
{% endif %}

	<h2>{{ page.title }}</h2>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}
{% include disqus.html %}
	</div>
</article>


<script>
amplitude.getInstance().logEvent('view content',{
	title: '{{ page.title }}',
});
</script>


<script>
  dataLayer.push({
		'event' : 'viewContent'
		'contentId' : '{{ page.content_id }}',
		'contentTitle' : '{{ page.title }}'
  })
</script>
